@media (max-width:1203px){
  
  .disable_a{
    pointer-events:none;
  }
/*header*/
  header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:99;
  
   }
   
   header .h_wrap{
     position:relative;
     z-index:3;
     width: 100%;
     height: 70px;
     line-height: 70px;
     justify-content: space-between;
     margin: 0 auto;
     box-sizing: border-box;
     display:flex;
     align-items: center;
   }
   header .h_wrap .logo{
    margin-left:30px;
   }
   header .h_wrap .logo a{
    display:block;
     width:150px;
   }
   header .h_wrap .logo a img{
    width:100%;
    filter: invert(100%);
   }
   header .h_wrap .m_menu_btn {
    width:25px;
    height: 20px;

  margin-right:30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 }
 header .h_wrap .m_menu_btn > *{
  width:100%;
  height:3px;
  background-color:#fff;
  border-radius: 15px;
  display:block;
 }
   /*header down*/
   .down {
     -webkit-transition-duration:0.4s;
     -webkit-transition-timing-function:ease;
     transition-duration:0.4s;
     transition-timing-function:ease;
     border-bottom:1px solid #000;
     background: rgba(255,255,255,1)!important;
   }
 
   header.down .h_wrap{
     height:70px;
     line-height:70px;
   }

   header.down .h_wrap .menu_navi a:hover{
     color:rgb(63, 188, 210)!important;
   }
   header.down .h_wrap .logo a{
     width:150px;
   }
   header.down .h_wrap .logo a img{
     filter: invert(0%)!important;
   }
   header.down .hover_menu{
     top: 70px;
   }
   header.down .h_wrap .m_menu_btn li{
    background-color:#000;
   }
  
   /*menu*/
    .menu_navi{
    background:#000;
    position:absolute;
    right:-100%;
    width:100%;
    top:0;
    padding:100px 0px;
    box-sizing:border-box;
    height:100vh;
    overflow-y: scroll;
   }
   .menu_navi .close_btn{
    width:25px;
    height:25px;
    position:absolute;
    top:10px;
    right:30px;
   }
   .menu_navi .close_btn img{
    width:100%;
    height:100%;
   }
   .menu_navi > li{
    border-bottom:1px solid #fff;
    width:100%;
    background-color: #000;
    text-align: center;
    cursor: pointer;
   }
   .menu_navi .close_btn + li{
    border-top: 1px solid #fff;
   }
   
   .menu_navi > li > a{
     color: #fff;
     font-size: 16px;
     font-weight: 800;
     box-sizing: border-box;
     pointer-events:none;
   }
   .menu_navi > li > a:hover{
     color:rgb(63, 188, 210)!important;
   }
  
.m_submenu {
    display:none; 
   }
   .menu_navi .m_submenu li{
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:60px;
   }
   .menu_navi .m_submenu li:not(:last-child){

    border-bottom:1px solid #eee;
   }
   .menu_navi  .m_submenu li a{
    font-size: 13px;
    line-height: normal;
    color: #000;
    display: block;
   }
   .menu_navi  .m_submenu li a:hover{
    text-decoration: underline;
   }
   .hover_menu{
    width:100%;
    height:250px;
    background:#fff;
    box-sizing: border-box;
    position:absolute;
    top:117px;
    z-index:2;
    display:none;
   }
   
   .hover_menu_wrap{
     height:100%;
     margin-right:70px;
    justify-content:flex-end;
    display: flex;
   }
   .hover_menu_wrap ul {
    text-align:center ;
    width:108px;
    height:100%;
    border-left:1px solid #eee;
    padding-top:25px;
    box-sizing: border-box;
   }
   .hover_menu_wrap ul:nth-child(7){
     border-right:1px solid #eee;
   }
   .hover_menu_wrap ul li{
     display: flex;
     height: 60px;
     flex-direction: column;
     justify-content: center;
   }
   .hover_menu_wrap ul a{
     font-size:13px;
     display:block;
     color:#000;
     text-align:center ;
    font-weight:500;
   }
   .hover_menu_wrap ul a:hover{
     color:rgb(63, 188, 210);
   }
   /*메인 자동 슬라이드*/
   .visual_slide_wrap {
     width: 100%;
     height: 90vh;
     margin: 0px auto;
     position: relative;
     overflow: hidden;
   }
   .slide {
     width: 400%;
     height: 100%;
     display: flex;
     position: absolute;
     left: 0px;
     top: 0px;
   }
   .slide li {
     width: 25%;
     height: 100%;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: left center ;
     position:relative;
   }
   .slide li:nth-of-type(1) {
     background-image: url(../img/main_bg01.jpg);
   }
   .slide li:nth-of-type(2) {
     background-image: url(../img/main_bg03.jpg);
   }
   .slide li:nth-of-type(3) {
     background-image: url(../img/main_bg02.jpg);
   }
   .slide li:nth-of-type(4) {
     background-image: url(../img/main_bg01.jpg);
   }
   .slide li .bg_txt img {
     width:100%;
   }
   .slide li:nth-of-type(1) .bg_txt{
     position:absolute;
     left:5%;
     top:55%;
     transform: translateY(-55%);
     width:200px;
   }
   .slide li:nth-of-type(2) .bg_txt{
     position:absolute;
     right:5%;
     top:45%;
     transform: translateY(-45%);
     width:300px;
   }
   .slide li:nth-of-type(3) .bg_txt:first-child{
     position:absolute;
     left:5%;
     bottom:30px;
     width:200px;
   }
   .slide li:nth-of-type(3) .bg_txt:last-child{
     position:absolute;
     right:5%;
     bottom:40px;
     width:10px;
   }
   .slide li:nth-of-type(4) .bg_txt{
    position:absolute;
    left:5%;
    top:55%;
    transform: translateY(-55%);
    width:200px;
   }
   /*navi*/
   .slide_navi {
     display: flex;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     bottom: 20px;
   }
   .slide_navi li {
    width: 18px;
    height: 3px;
    border-radius: 0;
    margin-right: 6px;
    cursor: pointer;
    border: 1px solid #fff;
   }
   .slide_navi li:last-child {
     margin-right: 0px;
   }
   .slide_navi li.on {
     background: #fff;
   }
   

   /*베스트 판매 리스트*/
.main_product_list{
  width:95%;
  margin:50px auto 70px;
}
.main_product_list h3{
  font-size: 3rem;
  font-weight: 700;
  margin-left:5px;
}
.main_product_list .swiper{
  height:auto;
}
.main_product_list .swiper-wrapper{
  height:auto;
}
/*슬라이드*/
:root {
  --swiper-theme-color: #fff!important;
}
.main_product_list > div > .swiper-button-next:after,.main_product_list > div > .swiper-button-prev:after {
  font-size:47px!important;
}


.swiper {
  width: 100%;
  margin:20px auto;
  height:400px;
  cursor: pointer;
}
.swiper-slide {
  font-size: 18px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product_img{
 display:block;
 width:100%;
  height:100%;
  box-sizing: border-box;
}
.product_img img{
 width:100%;
  height:100%;
  object-fit:cover;
}

.main_product_list .product_text .name{
  color:#434343;
}
.main_product_list .product_text a{
  font-size:1.4rem;
  color:#222;
  font-weight:600;
}
.main_product_list .swiper-button-next,.main_product_list .swiper-button-prev{
  display:none;
}

/*인스타그램 리스트*/
.instar_style{
  width: 100%;
  margin: 0 auto;
  padding: 50px 20px 70px;
  box-sizing: border-box;
  background:#000;
}

.instar_list{
  margin:0 auto;
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-columns: repeat(3, 1fr);
}
.instar_list li img{
  width:100%;
  height:100%;
  
}
.instar_list li:last-child{
  display: none;
}
.instar_style .head{
  margin:8px auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.instar_style .head .icon{
  width:20px;
  height:20px;
}
.instar_style .head .icon img{
  width:100%;
  height:100%;
  filter: invert(1);
}
.instar_style .head .instar_link a{
  font-weight: 600;
  font-size: 15px;
  color: #fff;
}
.instar_style .head .instar_link a:hover{
color:rgb(63, 188, 210);
}

/*footer*/
footer{
  width:100%;
  border-top:1px solid #000;
  padding:40px 0px;
}
footer .f_wrap{
  width:90%;
  margin: 0 auto;
}
footer .f_wrap .f_top li:first-child{
  margin-bottom:15px;
}
footer .f_wrap .f_top li h3{
  font-weight: 700;
  font-size:15px;
}
footer .f_wrap .f_top li p, footer .f_wrap .f_top li a{
  font-size: 11px;
    color: #000;
    line-height: 1.8;
}
footer .f_wrap .f_top li .num{
  margin:7px 0px;
}
footer .f_wrap .f_bottom{
  display: flex;
  margin-top: 30px;
  flex-direction: column-reverse;
}
footer .f_wrap .f_bottom .f_logo{
  width:220px;
}
footer .f_wrap .f_bottom .f_logo a{
  width:100%;
  display:block;
}
footer .f_wrap .f_bottom .f_logo a img{
  width:100%;
}

.f_top li a {
 display:flex;
 justify-content:space-between;
  border:1px solid #222;
 padding:5px 10px;
 box-sizing: border-box;
 width:150px;
}
.f_top li a:nth-of-type(1){
  margin:14px 0px 7px;
}
.f_top li a .ico{
  width:22px;
  height:22px;
  margin-left:15px;
}
footer .copy{
 display:block;
  color:#222;
  font-size:10px;
}


/*서브페이지 모바일css*/
.sub_top_banner{
  position:relative;
  width:100%;
  height:300px;
  background: url(../img/main_bg02.jpg) center bottom no-repeat;
}

.sub_top_banner h3{
  color:#fff;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align:Center;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

.sub_contant{
  max-width:1280px;
  margin:0 auto 100px;
  padding-top:50px;
}
.sub_contant h3{
font-size:2rem;
font-weight:700;
line-height: 18px;
display:block;
width:auto;
padding-left:10px;
}
.sub_contant h3:before{
display:inline-block;
content:"";
clear:both;
width: 18px;
height: 18px;
background: url(../img/bg3_txt_1.png) no-repeat;
background-size: 18px auto;
margin-right: 5px;
filter: invert(1);


}
.list_wrap{
  font-size: 0;
  letter-spacing: 0;
  word-spacing: 0;
}
.list_wrap li{width:50%;margin:20px 0px;display:inline-block;}
.list_wrap li .product_wrap{width:100%; height:100%;padding:0px 5px; box-sizing: border-box;} 
.list_wrap li:nth-child(even) .product_wrap{padding-left:0;}
.product_img{
  height: 323.182px;
}
.product_text{
  padding-top:5px;
}
.product_text .name{
  font-size:14px;
  font-weight:600;
  color:#222;
  display:block;
}
.sub_contant .product_text .nss_link{
  display: inline-block;
  padding: 5px 9px;
  color: #fff;
  background-color: #222;
  font-size: 10px;
  margin-top: 5px;
}
.sub_contant .product_text .nss_link:hover{
  background:#0cd1e4;
}
}