@media (min-width:1024px){
.sub_top_banner{
    position:relative;
    width:100%;
    height:480px;
    background: url(../img/main_bg02.jpg) center bottom no-repeat;
}

.sub_top_banner h3{
    color:#fff;
    font-size: 46px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align:Center;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.sub_contant{
    max-width:1280px;
    margin:0 auto 100px;
    padding-top:100px;
}
.sub_contant h3{
 font-size:2.5rem;
 font-weight:700;
 height:30px;
 line-height:30px;
 display:block;
 width:auto;
 padding-left:10px;
}
.sub_contant h3:before{
  display:inline-block;
  content:"";
  clear:both;
  width: 20px;
  height: 20px;
  background: url(../img/bg3_txt_1.png) no-repeat;
  background-size: 20px auto;
  margin-right: 10px;
  filter: invert(1);
  

}
.list_wrap{
    font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;
  }
  .list_wrap li{width:25%;margin:30px 0px;display:inline-block;}
  .list_wrap li .product_wrap{width:100%; height:100%;padding:0px 10px; box-sizing: border-box;} 
  .product_img{
    height:300px!important;
  }
  .product_text{
    padding-top:10px;
  }
  .product_text .name{
    font-size:15px;
    font-weight:600;
    color:#222;
    display:block;
  }
  .sub_contant .product_text .nss_link{
    display:inline-block;
    padding:7px 12px;
    color:#fff;
   background-color: #222;
    font-size:12px;
    margin-top:10px;
  }
  .sub_contant .product_text .nss_link:hover{
    background:#0cd1e4;
  }
}